<%- include ("./parts/header.ejs") %>
<%- include ("./parts/navbar.ejs") %>
<div class="container">
    <p class="alert alert-danger">
        Something broke down, we are working on it!
    </p>
</div>

<%- include ("./parts/footer.ejs") %>