<%- include ("./parts/header.ejs") %>
<%- include ("./parts/navbar.ejs") %>
<div class="container">
    <p class="alert alert-danger">
        You are not authorized to view this page!
    </p>
</div>

<%- include ("./parts/footer.ejs") %>